@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,200&display=swap');

:root {
  --green: #334444;
  --white: #FFF;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

a {
  color: var(--white);
}


.main {
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  grid-template-areas:
    ". title ."
    ". img-div ."
    ". headline ."
    ". tribute-info ."
    ". blockquote ."
    "footer footer footer";
}

.main__title {
  grid-area: title;
  padding: 5rem 0;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  color: var(--green);
}

.main__figure {
  grid-area: img-div;
  padding: 1rem;
  border-radius: .5rem;
  background-color: var(--green);
}

.figure__img {
  display: block;
  width: 100%;
  max-width: 90rem;
  height: auto;
  margin: 0 auto 1rem;
}

.figure__caption {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 .5rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--white)
}

.main__headline {
  grid-area: headline;
  padding: 3rem 0;
  text-align: center;
  font-size: 2rem;
}

.main__tributeInfo {
  grid-area: tribute-info;
  justify-self: center;
  max-width: 60rem;
  padding: 0 2rem;
  font-size: 1.5rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

li {
  list-style-position: inside;
}

strong {
  font-weight: 700;
  color: var(--green);
}

.main__blockquote {
  grid-area: blockquote;
  justify-self: center;
  max-width: 65rem;
  padding: 5rem 0;
}

.blockquote {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
}

.cite {
  display: block;
  text-align: right;
  font-size: 1.4rem;
}

.main__footer {
  grid-area: footer;
  padding: 5rem 1rem;
  text-align: center;
  font-size: 1.8rem;
  color: var(--white);
  background-color: var(--green);
}