@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,200&display=swap');

:root {
  --text: #334444;
  --body_card: #334444;

  --text_card: #FFF;
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  font-weight: normal;
}


.main {
  display: grid;
  grid-template-columns: 5vw 1fr 5vw;
  grid-template-areas:
    ". title ."
    ". img-div ."
    ". headline ."
    ". tribute-info ."
    ". blockquote ."
    "footer footer footer";
}

.main__title {
  grid-area: title;
  padding: 3rem 0;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--text);
}

.main__figure {
  grid-area: img-div;
  padding: 1rem;
  border-radius: .5rem;
  background-color: var(--body_card);
}

.figure__img {
  width: 100%;
  height: auto;
}

.figure__caption {
  padding: 0 .5rem;
  text-align: center;
  font-size: 1.3rem;
  color: var(--text_card)
}

.main__headline {
  grid-area: headline;
  padding: 3rem 0;
  text-align: center;
  font-size: 2rem;
}

.main__tributeInfo {
  grid-area: tribute-info;
  padding: 0 2rem;
  font-size: 1.4rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

li {
  list-style-position: inside;
}

strong {
  font-weight: 700;
  color: var(--text);
}

.main__blockquote {
  grid-area: blockquote;
  padding: 5rem 2rem;
}

.blockquote {
  padding-bottom: 1rem;
  text-align: center;
  font-size: 1.4rem;
  font-style: italic;
}

.cite {
  display: block;
  text-align: right;
}

.main__footer {
  grid-area: footer;
  height: 20rem;
  background-color: var(--body_card);
}
